---
import MainLayout from "../../layouts/MainLayout.astro";
import ResetPassword from "../../components/forms/ResetPassword";
import prisma from "../../server/utils/prisma";
import { getUser } from "@astro-auth/core";
import "../../styles/globals.css";
import type { User } from "../../types";

const verifyKey = Astro.url.searchParams.get("v");
let expired = false;
let invalid = false;
let verifiedKey = "";

if (verifyKey) {
  const verif = await prisma.accountVerifications.findFirst({
    where: { id: verifyKey, verificationType: "RESET" },
    include: { account: true },
    orderBy: { createdAt: "desc" },
  });
  if (!verif || verif?.account?.status === "BANNED") {
    invalid = true;
  } else if (verif.expiresAt < new Date()) {
    expired = true;
  } else {
    verifiedKey = verif.id;
  }
} else {
  invalid = true;
}

const user = getUser({ client: Astro }) as User;
const email = user?.email ?? "";
---

<MainLayout noCookies={true}>
  <div
    class="flex flex-col items-center justify-center flex-grow bg-neutral px-2 bg-dotted"
  >
    <div
      class="flex flex-col gap-10 bg-base-200 rounded-md p-4 w-full max-w-xl"
    >
      <h1>Password Reset</h1>
      <ResetPassword resetKey={verifiedKey} email={email} client:load />
    </div>
  </div>
</MainLayout>
