---
import ResendVerifEmail from "../../components/auth/ResendVerifEmail";
import ResendVerificationForm from "../../components/forms/ResendVerificationForm";
import MainLayout from "../../layouts/MainLayout.astro";
import prisma from "../../server/utils/prisma";
import { getUser, redirectUser } from "@astro-auth/core";
import "../../styles/globals.css"
const user = getUser({ client: Astro });
if (user) {
  return redirectUser("/dashboard");
}
const verifyKey = Astro.url.searchParams.get("v");
let expired = false;
let invalid = false;
let verified = false;

if (verifyKey) {
  const verif = await prisma.accountVerifications.findFirst({
    where: { id: verifyKey, verificationType: "NEW" },
    include: { account: true },
    orderBy: { createdAt: "desc" },
  });
  if (!verif || verif?.account?.status === "BANNED") {
    invalid = true;
  } else if (verif.expiresAt < new Date()) {
    expired = true;
  } else {
    await prisma.$transaction([
      prisma.accounts.update({
        where: { email: verif.account.email },
        data: { status: "VERIFIED" },
      }),
      prisma.accountVerifications.deleteMany({
        where: { account: { email: verif.account.email } },
      }),
    ]);
    verified = true;
  }
} else {
  invalid = true;
}
---

<MainLayout noCookies={true}>
  <div
    class="flex flex-col items-center justify-center flex-grow bg-neutral px-2 bg-dotted"
  >
    <div
      class="flex flex-col gap-10 bg-base-200 rounded-md p-4 w-full max-w-xl"
    >
      <h1>Verification</h1>
      <>
        {
          expired ? (
            <div class="flex flex-col items-center">
              <label>
                <span class="label label-text">This link has expired</span>
              </label>
              <ResendVerifEmail vKey={verifyKey ?? ""} client:load />
            </div>
          ) : verified ? (
            <div class="flex flex-col items-center">
              <label>
                <span class="label label-text">Your account was verified</span>
              </label>
            </div>
          ) : (
            <div class="flex flex-col items-center">
              <ResendVerificationForm client:load />
            </div>
          )
        }
      </>
      <div class="w-full flex flex-col gap-2">
        <a class="btn w-full" href="/signin"> Login</a>
        <a rel="preload" class="btn no-underline" href="/signup"
          >Create an Account</a
        >
      </div>
    </div>
  </div>
</MainLayout>
