.bg-dotted {
  background-color: hsl(var(--n));
  background-image: radial-gradient(
    circle,
    hsl(var(--nf)) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 30px 30px;
}
.bg-dotted-light {
  background-color: hsl(var(--b1));
  background-image: radial-gradient(
    circle,
    hsl(var(--b2)) 2px,
    rgba(0, 0, 0, 0) 0px
  );
  background-size: 30px 30px;
}
