---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  SEOProps={{
    title: "About | WebRoll",
  }}
  footer={true}
>
  <ColumnLayout grow={true}>
    <div
      class="bg-base-100/90 backdrop-blur-md border border-base-300 shadow-lg flex flex-col flex-grow rounded-lg p-4"
    >
      <h1>About</h1>
      <p class="text-sm md:text-base">
        WebRoll was created to gather commendable websites for your chance to
        discover. Each time you click the dice you will be presented with a
        random website in the category(s) of your choosing. We review each
        website to assure you don't find anything low quality or clickbaity.
        Instead, you will find sites that may be a treasure trove of
        information, a technical marvel streching the limits of the browser, a
        creation reminiscient of the old Web 2.0 days, or perhaps a useful
        web-tool worthy of your bookmark.
        <br />
        <br />
        If you happen to enjoy the enjoy the site you land on be sure to leave a
        like to find it in your <a class="link" href="/likes">likes</a>
        page later. No account is required but you are encouraged to <a
          class="link"
          href="/signup">sign up</a
        > so your likes are available anywhere you log in.
        <br />
        <br />
        Do you know of a website that should be on WebRoll? After reading our <a
          href="/rules"
          class="link">submission rules</a
        > feel free to <a class="link" href="/submit">submit it here</a>, no
        account required!
        <br />
        <br class="" />
      </p>

      <div class="flex-grow border-b border-base-300"></div>

      <p class="text-opacity-90 text-neutral text-sm">
        WebRoll was heavily inspired by the likes of StumbleUpon and CloudHiker.
        It was created by <a
          class="text-neutral text-opacity-90"
          href="https://github.com/burhan-syed">Burhan Syed</a
        > as an exercise in building with <a
          class="link text-neutral text-opacity-90"
          href="https://astro.build/">AstroJS</a
        >.
      </p>
    </div>
  </ColumnLayout>
</MainLayout>
