---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import Counter from "../components/counter/Counter";
const someProps = {
  count: 0,
};
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <Counter {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </Counter>
  <div class="h-[400vh] bg-blue-200">a</div>
</MainLayout>
