---
import { getUser, redirectUser } from "@astro-auth/core";
import MainLayout from "../layouts/MainLayout.astro";
import LoginForm from "../components/forms/LoginForm";
import "../styles/globals.css"
const user = getUser({ client: Astro });
console.log("signup user?", user);
if (user) {
  return redirectUser("/dashboard");
}
---

<MainLayout SEOProps={{title: "Sign Up | Webroll"}}>
  <div
    class="flex flex-col items-center justify-center flex-grow px-2 bg-dotted"
  >
    <div
      class="flex flex-col gap-10 bg-base-200 rounded-md p-4 w-full max-w-xl"
    >
      <h1>Create an Account</h1>
      <LoginForm signUp={true} client:load />
      <a rel="preload" class="btn no-underline" href="/signin">Sign In Instead</a>
    </div>
  </div>
</MainLayout>
