---
import SiteCard from "../components/SiteCard";
import MainLayout from "../layouts/MainLayout.astro";
import prisma from "../server/utils/prisma";
const { siteID } = Astro.params;

const sites = await prisma.sites.findMany({
  select: {
    id: true,
    url: true,
    name: true,
    description: true,
    status: true,
    imgKey: true,
    sourceLink: true,
    allowEmbed: true,
    categories: { select: { category: true, description: true } },
    tags: { select: { tag: true } },
  },
});
---

<MainLayout>
  {
    sites ? (
      <>
        {sites.map((site) => (
          <a href={`/site/${site.id}`}>{site.name}</a>
        ))}
      </>
    ) : (
      <h1>404</h1>
    )
  }
</MainLayout>
