---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import SubmissionPage from "../components/SubmissionPage";
import { checkAndReturnSessionID } from "../server/utils/handleSession";
const userIp = Astro.clientAddress;
const cookie = Astro.request.headers.get('cookie'); 
const r = await checkAndReturnSessionID(userIp, cookie); 
console.log("cookie?", cookie); 
console.log("response", r)

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<script is:inline define:vars={{r}}>
  document.cookie = "webroll_session=" + r + ";"
</script>

<MainLayout siteTile={"Submit | WebRoll"}>
  <div class="mx-auto max-w-4xl p-4 flex flex-col gap-2">
    <div
      class="bg-base-100 border border-base-300 rounded-lg w-full p-4 shadow-lg"
    >
      <h1 class="text-3xl">Site Submission</h1>
      <p class="text-sm font-light py-0 my-0">
        Sites will be reviewed after submission. In general, we only accept high
        quality websites that are distinctly beautiful, useful, or interesting.
        Sites must use the HTTPS protocol. <br />
        <span
          >We do not allow sites containing or promoting illegal activity,
          hatespeech, pornography, graphic content, or highly controversial
          content.</span
        ><br />We only index hostnames. Any provided path will be omitted.
      </p>
    </div>
    <SubmissionPage client:load userIp={userIp} sessionID={r} />
  </div>
</MainLayout>
