---
//const { content } = Astro.props;
import NavBar from "../components/NavBar.astro";
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{"webroll"}</title>
  </head>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <body
      class=""
    >
    <div class=" h-screen w-screen overflow-x-hidden overflow-y-auto scrollbar-thin">
      <nav class=" min-w-full fixed md:sticky bottom-0 md:bottom-auto md:top-0  z-50 bg-base-300 ">
        <NavBar />
      </nav>
      <main class="prose prose-headings:font-extralight min-w-full bg-base-300  ">
        <!-- <div class="h-0 md:h-20"></div> -->
        <slot />
        <footer class="footer bg-base-200 text-base-content">foot</footer>
        <div class="md:h-0 h-20"></div>
  
      </main>
    </div>
    </body>
    
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu flex-col-reverse md:flex-col p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
        <li><a href="/explore">Explore Sites</a></li>
        <li><a href="/submit">Submit a Site</a></li>
        <li><a>About</a></li>
        
      </ul>
    </div>
  </div>
</html>

