---
import { SEO } from "astro-seo";
import NavBar from "../components/ui/NavBar.astro";
import { checkAndReturnSessionID } from "../server/utils/handleSession";
const {
  SEOProps = {
    title: "WebRoll",
    description: "Rediscover the web with WebRoll.",
  },
  noScrollBar = false,
  noFooter = true,
  noProse = false,
  skipCookies = false,
} = Astro.props;

if (!skipCookies) {
  const { session, prev_session } = await checkAndReturnSessionID(Astro);
  Astro.response.headers.set(
    "Set-Cookie",
    `webroll_session=${session}.${prev_session}; Secure; HttpOnly;`
  );
}
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#36d399" />
    <meta name="msapplication-TileColor" content="#36d399" />
    <meta name="theme-color" content="#36d399" />

    <SEO {...SEOProps} />
  </head>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <nav class="min-w-full fixed bottom-0 md:bottom-auto md:top-0 z-50">
        <NavBar />
      </nav>
      <main
        class={(noProse ? "" : " prose prose-headings:font-light ") +
          " min-w-full bg-base-300 min-h-screen flex flex-col"}
      >
        <div class="h-0 md:h-20"></div>
        <div class="flex-grow flex flex-col">
          <slot />
        </div>
        {
          !noFooter && (
            <footer class="footer bg-base-200 text-base-content ">foot</footer>
          )
        }
        <div class="md:h-0 h-20"></div>
      </main>
    </div>
    <nav class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul
        class="menu flex-col-reverse md:flex-col p-4 overflow-y-auto w-80 bg-base-100 text-base-content"
      >
        <li><a rel="prefetch" href="/explore">Explore Sites</a></li>
        <li><a rel="prefetch" href="/submit">Submit a Site</a></li>
        <li><a href="/likes">Likes</a></li>
        <li><a href="/dashboard">Account</a></li>

        <li><a>About</a></li>
      </ul>
    </nav>
  </div>
</html>
