---
import { GitHub } from "react-feather";
---

<div class="bg-base-100 text-base-content z-10 relative">
  <footer class="footer  p-10 text-base-content max-w-6xl mx-auto">
    <a href="/" class="flex flex-col mt-auto">
      <img class="w-12 h-12" src="/android-chrome-192x192.png" />
      <p>WebRoll.io<br /><span class="opacity-50">Rediscover the Web</span></p>
    </a>
    <div class="mt-auto">
      <span class="footer-title">Links</span>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-24 gap-y-2">

      <a href="/explore" class="link link-hover">Explore</a>
      <a href="/submit" class="link link-hover">Submit</a>
      <a href="/dashboard" class="link link-hover">Account</a>
      <a href="/likes" class="link link-hover">Likes</a>
      </div>
    </div>
    <div class="mt-auto">
      <span class="footer-title">Company</span>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-24 gap-y-2">
        <a href="/about" class="link link-hover">About</a>
        <a href="/contact" class="link link-hover">Contact</a>
        <a href="/terms" class="link link-hover">Terms of use</a>
        <a href="/privacy" class="link link-hover">Privacy policy</a>
      </div>
    </div>
  </footer>
  <div class="py-4 border-t text-base-content border-base-200">
    <footer class="footer px-10 max-w-6xl mx-auto">
      <div class="items-center grid-flow-col">
        <p class="opacity-50">Created by Burhan Syed</p>
      </div>
      <div class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
          <div
            class="ml-auto tooltip hover:tooltip-open tooltip-right md:tooltip-left group"
            data-tip="open source on github"
          >
            <a class="" href="https://github.com/burhan-syed/WebRoll"
              ><div class="group-hover:scale-110"><GitHub /></div>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
